html,
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #F2EDE4;
}

section {
    height: auto;
    padding: 10px;
    margin: 20px auto;
    color: #000;
    background: #ffffff;
}


/* my styles */
.container {
    position: relative;
    width: 500px;
    height: auto;
    min-width: 60%;
    min-height: 80%;
    padding: 10px;
    background: #4393D9;
    box-shadow: -4px 4px 10px 3px rgba(50, 50, 50, 0.75);
}

.title {
    color: #f5f1da;
    text-align: center;
}

span:hover {
    color: #000;
    background: #ff0;
}

span.highlight {
    padding: 5px 5px 2px 5px;
    margin: auto 5px;
    border-radius: 5px;
    height: 16px;
    background: #FF6600;
    color: #fff;
}

/* 希望關鍵單詞可以是黑底白字 */
p>span.highlight {
    background: black;
    color: white;
}

/* 針對 span 標籤在滑鼠 hover 時，設定了樣式為黃底黑字 */
span.highlight:hover {
    color: #000;
    background: #ff0;
}